.body {
    margin: 0 auto;
    /* padding: 0 10px; */
    /* max-width: 900px; */
    /* max-height: 900px; */
}

.title {
    color: red;
    font-size: 8vw;
    background-color: yellow;
    /* max-height: 10vw; */
    max-width: 80vw;
    margin-top: 8vw;
    margin-left: auto;
    margin-bottom: 10vw;
    margin-right: auto; 
    /* margin: 100px  auto; */
    text-align: center;
}

#intro {
    font-size: 4vw;
    /* text-align: center; */
    margin-left: auto;
    margin-bottom: 10vw;
    margin-right: auto;
    max-width: 80vw;
    overflow-wrap: normal;
}

#button{
    font-size: 5vw;
}
